<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>Peliculas</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" />  
    <style>
        .points {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
    </style>
</head>
<body>
	<div id="main">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Reservas</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Peliculas</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="containier">
            <div class="row">
                <div class="col-md-2 offset-md-4 p-4">
                    <input id="datepicker1" placeholder="Fecha Inicio" v-model="date_start">
                </div>
                <div class="col-md-2 p-4">
                    <input id="datepicker2" placeholder="Fecha Fin" v-model="date_end">
                </div>
                <div class="col-md-2 p-4">
                    <a href="#" v-on:click.prevent="searchMovie" class="btn btn-primary btn-sm">Enviar</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createMovie">Crear Pelicula</button>
            </div>
        </div>

        <div class="container">
            <div class="row">
               <div class="col-md-4 p-4" v-for="item in movies">
                    <div class="card" style="width: 18rem;">
                        <img :src="item.url_image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-text text-center">{{ item.name }}</h4>
                            <p class="card-text points">{{ item.description }}</p>
                            <a href="#"  v-on:click.prevent="viewMovie(item)" class="btn btn-primary btn-sm">Ver Mas</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"  v-on:click.prevent="createReservation(item)" class="btn btn-success btn-sm">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <!-- modal create movie -->
        <form method="POST" v-on:submit.prevent="createMovie">
            <div class="modal fade" id="createMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Pelicula</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="name" v-model="name" placeholder="Nombre" required><br>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="url_image" v-model="url_image" placeholder="Url Imagen" required><br>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" name="description" id="description" v-model="description" cols="30" rows="10" placeholder="Sinopsis..." required></textarea>
                                </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Guardar">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- fin modal view movie -->

        <!-- modal view movie -->
        <div class="modal fade" id="viewMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ fillmovie.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" v-bind:src="fillmovie.url_image" style="width: 150px;margin: auto; display: block;"><br>
                        <h3>Sinopsis</h3>
                        <p>{{ fillmovie.description }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin modal view movie -->

        <!-- modal create reservation -->
        <form method="POST" v-on:submit.prevent="createReservation">
            <div class="modal fade" id="createReservation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Reserva</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="name" v-model="name" placeholder="Nombre" required><br>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="document" v-model="document" placeholder="Documento" required><br>
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" id="email" v-model="email" placeholder="Email" required><br>
                                </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" v-if="reservation_state == false" class="btn btn-success" value="Guardar">
                            <p v-else class="text-danger">Ya no hay disponibilidad para esta pelicula :(</p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- fin modal view reservation -->
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="asset/js/main.js"></script>
    <script>
        $('#datepicker1').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
        });

        $('#datepicker2').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
        });
    </script>
</body>
</html>